:root {
    /* https://uicolors.app/generate/0c1222 */
    --primary-300: #97b1e2;
    --primary-400: #5f89d1;
    --primary-500: #3a69bd;
    --primary-700: #234181;
    --primary-900: #20325a;
    --primary-950: #0c1222;

    /* https://uicolors.app/generate/4238ca */
    --secondary-300: #a5b5fc;
    --secondary-500: #6367f1;
    --secondary-700: #4238ca;

    /* https://uicolors.app/generate/797a91 */
    --neutral-200: #dee1e7;
    --neutral-400: #b2b6c7;
    --neutral-800: #606173;
}

body {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

#background {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-950);
    padding: 40px 30px;
    border-radius: 8px;
    border: 1px solid var(--neutral-800);
    width: 400px
}

#heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

#slogan {
    color: var(--primary-400);
    margin-top: 10px;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* #login-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
} */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labels {
    font-size: 0.9rem;
    color: var(--primary-300);
    margin-bottom: 5px;
}

input, button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

input {
    border: 1px solid var(--neutral-800);
    background-color: var(--primary-900);
    color: white;
    font-size: 1rem;
}

button {
    background: linear-gradient(to right, var(--primary-700), var(--secondary-700));
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1rem;
}

button:hover {
    background: linear-gradient(to right, var(--primary-500), var(--secondary-500));
}

a {
    color: var(--secondary-500);
}

a:hover {
    color: var(--secondary-300);
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#form-container p {
    font-size: 1.2rem;
    color: var(--neutral-200);
    margin-bottom: 25px;
}